---
permalink: 404.html
eleventyExcludeFromCollections: true
---

<link href='/assets/css/tachyons.min.css' rel='stylesheet' type='text/css' />

<style>
    .bg-grad {
        background: linear-gradient(314deg, #00b8ea, #88d6f3, #e6f5f8);
        background-size: 200% 200%;
        -webkit-animation: diagonal-scroll 5s ease infinite;
        -moz-animation: diagonal-scroll 5s ease infinite;
        -o-animation: diagonal-scroll 5s ease infinite;
        animation: diagonal-scroll 5s ease infinite;
    }

    @-webkit-keyframes diagonal-scroll {
        0% {
            background-position: 0% 2%
        }

        50% {
            background-position: 100% 99%
        }

        100% {
            background-position: 0% 2%
        }
    }

    @-moz-keyframes diagonal-scroll {
        0% {
            background-position: 0% 2%
        }

        50% {
            background-position: 100% 99%
        }

        100% {
            background-position: 0% 2%
        }
    }

    @-o-keyframes diagonal-scroll {
        0% {
            background-position: 0% 2%
        }

        50% {
            background-position: 100% 99%
        }

        100% {
            background-position: 0% 2%
        }
    }

    @keyframes diagonal-scroll {
        0% {
            background-position: 0% 2%
        }

        50% {
            background-position: 100% 99%
        }

        100% {
            background-position: 0% 2%
        }
    }
</style>


<div class="mt0 vh-100 w-100 bg-grad pa3 pa5-ns sans-serif dt tc">
    <div class="dt-row">
        <div class="dtc v-mid">
            <h1 class="f-headline white-90 fw5">404</h1>
            <p class="f5 f3-ns measure lh-copy white center fw5">
                <a href="{{ '/' | url }}" class="white">&larr; home</a>
            </p>
        </div>
    </div>
</div>
