---
title: Home
hidetitle: true
hidedate: true
layout: "layouts/default.njk"
---

<p>
I'm a computer science researcher from Seattle. Right now I'm wandering around the globe.
You can see
<a href="{{ "/whereami/" | url }}">where I am right now</a>, or read about
<a href="{{ "/studio/#travel" | url }}">where I've been</a>.
<p>

<h2>Latest from the studio</h2>

<ul class="list pa0">
    {% for post in collections.studio | rejectAttrContains(["data", "tags"], "software") | rejectAttrContains(["data", "tags"], "redirect") | sort(true, false, "date") | head(3) %}
    <li class="mv2">
      <a href="{{ post.url | url }}" class="db pv1 link">
        {# NOTE: Not using post.data.travel_end because otherwise main page has old dates at top #}
        <time class="fr lightest-text-color ml3">{{ post.date | readableDate }} </time>
        {{ (post.data.series + ": " if post.data.series else "") + post.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="cf mb1">
    {% for sketch in collections.sketch | sort(true, false, "date") | head(3) %}
        <div class="fl mr3">
            <a href="{{ sketch.url | url }}">
            <img class="dim novmargin" src="{{ sketch.data.thumb | url }}" style="width: 72px; height: 72px;" />
            </a>
        </div>
    {% endfor %}
</div>

<p class="tr f6 f5-ns lightest-text-color mt1">
... see more in the
<a class="b" href="{{ "/studio/" | url }}">Studio</a>
</p>


<h2>Latest research</h2>

<ul class="list pa0">
{% for post in collections.research | rejectAttrContains(["data", "tags"], "software") | sort(true, false, "date") | head(3) %}
    <li class="mv2">
        {% if "news" in post.data.tags %}
            <span class="db pv1">
                <time class="fr lightest-text-color ml3">{{ post.date | readableDate }} </time>
                {{ post.templateContent | replace("<p>", "") | replace("</p>", "") | safe }}
            </span>
        {% else %}
            <a href="{{ post.url | url }}" class="db pv1 link">
                <time class="fr lightest-text-color ml3">{{ post.date | readableDate }} </time>
                {{ post.data.title }}
            </a>
        {% endif %}
    </li>
{% endfor %}
</ul>

<p class="tr f6 f5-ns lightest-text-color mt1">
... see more in
<a class="b" href="{{ "/research/" | url }}">Research</a>
</p>
