---
title: Home
hidetitle: true
hidedate: true
layout: "layouts/default.njk"
eleventyExcludeFromCollections: true
eleventyImport:
    collections: ["all"]
---

<p class="mt6">
I'm an artificial intelligence researcher from Seattle, currenly based in NYC.
I recently spent a couple years wandering the globe,
told through some <a href="/studio/#travel">photos and essays</a>.
Now I've gone indie, working on my own products. My first is out now: <a href="https://talktomehuman.com/">Talk to Me Human</a>. I have some open capacity for <a href="/hire">consulting</a>.
<p>

<h2>Latest from the studio</h2>

<ul class="list pa0 std-left">
    {% for post in collections.studio | rejectAttrContains(["data", "tags"], "software") | rejectAttrContains(["data", "tags"], "redirect") | sort(true, false, "date") | head(3) %}
    <li class="mv2">
      <link rel="prefetch" href="{{ post.url }}">
      <a href="{{ post.url }}" class="db pv1 link">
        {# NOTE: Not using post.data.travel_end because otherwise main page has old dates at top #}
        <time class="fr lightest-text-color ml3">{{ post.date | readableDate }} </time>
        {{ (post.data.series + ": " if post.data.series else "") + post.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>

<div class="cf mb1">
    {% for sketch in collections.sketch | sort(true, false, "date") | head(3) %}
        <div class="fl mr3">
            <link rel="prefetch" href="{{ sketch.url }}">
            <a href="{{ sketch.url }}">
            <img class="dim novmargin" src="{{ sketch.data.thumb }}" style="width: 72px; height: 72px;" />
            </a>
        </div>
    {% endfor %}
</div>

<p class="tr f6 f5-ns lightest-text-color mt1">
... see more in the
<a class="b" href="/studio/">Studio</a>
</p>


<h2>Latest research</h2>

<ul class="list pa0 std-left">
{% for post in collections.research | rejectAttrContains(["data", "tags"], "software") | sort(true, false, "date") | head(3) %}
    <li class="mv2">
        {% if "news" in post.data.tags %}
            <span class="db pv1">
                <time class="fr lightest-text-color ml3">{{ post.date | readableDate }} </time>
                {{ post.templateContent | replace("<p>", "") | replace("</p>", "") | safe }}
            </span>
        {% else %}
            <link rel="prefetch" href="{{ post.url }}">
            <a href="{{ post.url }}" class="db pv1 link">
                <time class="fr lightest-text-color ml3">{{ post.date | readableDate }} </time>
                {{ post.data.title }}
            </a>
        {% endif %}
    </li>
{% endfor %}
</ul>

<p class="tr f6 f5-ns lightest-text-color mt1">
... see more in
<a class="b" href="/research/">Research</a>
</p>
