---
title: Studio
hidedate: true
layout: "layouts/default.njk"
---

<h2>Writing<a name="writing"></a></h2>

{% set writingTags = ["creating & thinking", "design", "health", "programming"] %}
{# {% set writingTags = ["programming"] %} #}
{% for tag in writingTags %}
    <h3>{{ tag | title }}</h3>
    <ul class="list pa0 mt0">
        {# Type is {name: post[]}[], where name is "" for no series. #}
        {% for seriesObj in collections[tag] | dateSeriesGroupBy %}
            {% if seriesObj.series != "" %}
                <li class="b mb1 mt4">{{ seriesObj.series }}</li>
                <ol class="mb4">
            {% endif %}

            {% for post in seriesObj.posts %}
                <li class="mv1">
                    <a href="{{ post.url | url }}" class="db pv1 link">
                        <time class="fr lightest-text-color ttu ml3">{{ post.date | readableDate }}</time>
                        {{ post.data.title }}
                    </a>
                </li>
            {% endfor %}

            {% if seriesObj.series != "" %}
                </ol>
            {% endif %}

        {% endfor %}
</ul>
{% endfor %}

<h2>Projects<a name="projects"></a></h2>
{% for post in collections.project | sort(true, false, "date") %}
<a href="{{ post.url | url }}" class="db pv1 link">
    <time class="fr lightest-text-color ttu ml3">{{ post.date | readableDate }}</time>
    {{ post.data.title }}
</a>
{% endfor %}

<h2>Software<a name="software"></a></h2>

{% include "programming-language-tooltips.njk" %}

{% set software = collections.software | selectAttrContains(["data", "tags"], "studio") | rejectAttrNested(["data", "omit"]) %}
{% for item in software %}
{%- include "software-long.njk" -%}
{% endfor %}

<p>
You might also be interested in checking out my <a href="{{ "/research/#software" | url }}">research software</a>.
</p>

<h2>Sketches<a name="sketches"></a></h2>

<div class="cf">
{% for sketch in collections.sketch | sort(true, false, "date") %}
    <div class="fl mr2 mb2 mr3-ns mb3-ns">
        <a href="{{ sketch.url | url }}">
            <img class="dim novmargin" src="{{ sketch.data.thumb | url }}" style="width: 72px; height: 72px;"/>
        </a>
    </div>
{% endfor %}
</div>

<a name="blog"></a>
<h2>Blog</h2>
{% for post in collections.blog | sort(true, false, "date") %}
<a href="{{ post.url | url }}" class="db pv1 link">
    <time class="fr lightest-text-color ttu ml3">{{ post.date | readableDate }}</time>
    {{ post.data.title }}
</a>
{% endfor %}


<h2>Garage<a name="garage"></a></h2>

<p>
The garage is a new experiment in "working with the garage door up."
I develop inter-linked micro notes that evolve over time.
They're written for me but posted publicly here.
Read more in
<a href="{{ "/garage/what-is-the-garage/" | url }}">
What is the garage?
</a>
The following is an index of all the current entires in the garage.
</p>

<ul class="list pa0">
{% for post in collections.garage | sort(false, false, "data.title") %}
    <li class="mv2">
        <a href="{{ post.url | url }}" class="db pv1 link">
            {# TODO: make latest of {date, updated} #}
            <time class="fr lightest-text-color ttu ml3">{{ post.date | readableDate }}</time>
            {{ post.data.title }}
        </a>
    </li>
{% endfor %}
</ul>
