---
title: Card layout test page
date: 2023-05-05
updated: 2023-07-04
eleventyExcludeFromCollections: true
---

<p>
NOTE: This page was used to develop the card layout.
It's hidden from eleventy's collections because I couldn't figure out how to make it
(either eleventy or nunjucks, I forget which, probably eleventy) not crash and freak out when it found itself listing all the posts.
</p>

<p>
The first set of cards are hidden because the flipping has been integrated into buttons that appear on the studio page.
If desired a short script could be added to flip them here, but I don't think this page is needed any more, so they'll just live like that for now.
</p>

<p>
Good times! This was way more challenging to build than I'd anticipated.
I think the biggest struggle was the first few days, trying to get the CSS to make something that looked different but also good.
Inscryption (the inspiration) has this weathered pixel style, and mimicing but also making more text and photos readable required lots of trial and error with different styles and masks.
Also,
<ul>
    <li>
    hitting the fringes of browser support with border masks
    </li>
    <li>
    z-index / overflow popping (e.g., coffee stains) when additional translations were added (card rotation)
    </li>
    <li>
    ripping apart my whole HTML layer cake to figure out why cards were flipping completely blank (it was due to overflow being hidden on a particular element of the stack that didn't play well with transforms)
    </li>
    <li>
    font size hacks because there's no way (that I know of) to shrink fonts so text will fit in a fixed area
    </li>
    <li>
    Safari implemetning viewports and scroll distance differently (and wrong) so changing my approach and removing all that
    </li>
    <li>
    my iPhone crashing when I tried to load a page that had the card flipping, so doing separate mobile styling to get backs to be fronts for would-be-flipped cards and removing all transforms
    </li>
</ul>
</p>

<p>
NOTE: Now I can't even include the card layout here!
So bizarre how Eleventy's circular reference problems seem nondeterministic.
Maybe it depends on some graph it's building in the background.
Not sure how to make it not freak out about this one.
IIRC, even steps to explicitly never select this page ended up having it.
Oh well. The Nunjucks code would be:
</p>

<pre>
<code>
include "layouts/card-layout.njk"
</code>
</pre>
