<!-- <hr /> -->
<!-- <div class="bt b--black-80 mt4"></div> -->
<div class="ba b--black-80 mt5 f6 f5-ns">
    <form style="text-align:center;" action="https://tinyletter.com/mbforbes" method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/mbforbes', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p class="tc b">
            Monthly project and essay digest
        </p>
        <p class="tc measure center">
            <label for="tlemail">
                I send a summary every month of my new projects and essays.
                No spam, just me, Max. Unsub whenever.
            </label>
        </p>
        <p class="mb1">
            <input type="text" style="width:200px" name="email" id="tlemail" placeholder="your email"/>
            <input type="hidden" value="1" name="embed"/><input type="submit" value="Get on the list"/>
        </p>
        <p class="mt0 f7 f6-ns">
            <!-- via -->
            <img src='{{ "/assets/img/TinyLetter_Wordmark.png" | url }}' style="height: 22px;"/>
        </p>
    </form>
</div>
