<div class="ba border-color mt5 f6 f5-ns">
    <form style="text-align:center;" action="https://tinyletter.com/mbforbes" method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/mbforbes', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p class="tc b">
            Monthly digest
        </p>
        <p class="tc measure center mb1">
            <label for="tlemail">
                I send a summary of my new posts each month.
                Unsub whenever.
            </label>
        </p>
        <p class="mv1">
            <input type="text" style="width:200px" name="email" id="tlemail" placeholder="email"/>
            <input type="hidden" value="1" name="embed"/><input type="submit" value="Beep boop"/>
        </p>
        <div class="mv2 tinyletter"></div>
    </form>
</div>
