<p class="tr ttu black-30 fw6 f6 f5-ns mt5 mb0">garage entry metadata</p>
<table class="mv0 collapse ba br2 b--black-10 pv2 ph3 f6 f5-ns black-50 w-100">
    <tbody id="garage-metadata">
        <tr class="striped--near-white">
            <td class="pv2 ph3 ttu fw6">
                started
            </td>
            <td class="pv2 ph3 ttu">
                {{ date | readableDate }}
            </td>
        </tr>

        {% if updated %}
            <tr class="striped--near-white">
                <td class="pv2 ph3 ttu fw6">
                    updated
                </td>
                <td class="pv2 ph3 ttu">
                    {{ updated | readableDate }}
                </td>
            </tr>
        {% endif %}

        <tr class="striped--near-white">
            <td class="pv2 ph3 ttu fw6">
                disclaimer
            </td>
            <td class="pv2 ph3">
                This is an entry in
                {% if title != "What is the garage?" %}
                    <a href="{{ "/garage/what-is-the-garage/" | url }}" class="hover-dark-blue underline-hover">the garage</a>.
                {% else %}
                    the garage.
                {% endif %}
                It may change or disappear at any point.
            </td>
        </tr>
    </tbody>
</table>

<!-- Comments! -->
<script src="https://utteranc.es/client.js" repo="mbforbes/website-comments" issue-term="pathname" theme="github-light"
    crossorigin="anonymous" async>
    </script>

<!-- Link graph! -->
<script async>
    function addRow(name, graph, keys) {
        let links = [];
        for (let key of keys) {
            if (!(key in graph)) {
                console.warn("Skipping " + key + ", not found in link graph.")
                continue;
            }
            links.push(`<li><a href="${graph[key].url}" class="hover-dark-blue underline-hover">${graph[key].title}<a/></li>`);
        }
        if (links.length == 0) {
            return;
        }
        let row = document.createElement("tr");
        row.classList.add("striped--near-white");
        row.innerHTML = `
        <tr class="striped--light-gray">
            <td class="pv2 ph3 ttu fw6">
                ${name}
            </td>
            <td class="pv2 ph3 ${name}">
                <ul class="pl3 mv0">
                    ${links.join("\n")}
                </ul>
            </td>
        </tr>
        `
        document.getElementById("garage-metadata").appendChild(row);
    }

    async function renderLinks() {
        let resp = await fetch("/assets/garage/link_graph.json");
        if (!resp.ok) {
            return;
        }
        let graph = await resp.json();
        let current = "{{ page.url }}";
        if (!(current in graph)) {
            return;
        }
        addRow("inbound", graph, graph[current].incoming);
        addRow("outbound", graph, graph[current].outgoing);

    }
    renderLinks();
</script>
