<link rel="shortcut icon" type="image/svg+xml" href="/assets/img/favicon.svg">
<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

<link href="/assets/css/leaflet.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/tachyons.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/style.css?v=231113" rel="stylesheet" type="text/css"/>
<link href="/assets/css/maps.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/syntax/prism.common.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/syntax/prism.default.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/syntax/prism.okaidia.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/tippy-6.3.1.light.css" rel="stylesheet" type="text/css"/>

{# NOTE: Twitter uses name='', og uses property='' #}
<meta name='twitter:site' content='@maxforbes'/>
{% if hidedate %}
    {#  Defaults for top-level pages (home, studio, research, about) #}
    <meta content='{{ site.url }}' property='og:url'/>
    <meta content="{{ site.description }}" property='og:description'/>
    <meta content="blog" property="og:type"/>
{% else %}
    {# non-hidden date property indicates some kind of post, so we try to use w/ its metadata #}
    <meta content='{{ site.url }}{{ page.url }}' property='og:url'/>
    {% if image %}
        <meta content='{{ site.url }}{{ image }}' property='og:image'/>
        <meta name='twitter:image' content='{{ site.url }}{{ image }}'/>
        <meta name='twitter:card' content='summary_large_image'/>
    {% endif %}
    {% if customexcerpt %}
        <meta content="{{ customexcerpt | striptags | trim | truncate(120) }}" property='og:description'/>
        <meta name='twitter:description' content="{{ customexcerpt | striptags | trim | truncate(120) }}"/>
    {% else %}
        {# NOTE: Injected header links from markdown-it-anchor currently make it into desc :-( #}
        <meta content="{{ content | striptags | trim | truncate(120) }}" property='og:description'/>
        <meta name='twitter:description' content="{{ content | striptags | trim | truncate(120) }}"/>
    {% endif %}
    <meta content="article" property="og:type"/>

{% endif %}

{% if site.google_analytics %}
    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
{% endif %}
