{% macro listPostsAndSeries(collection, useUpdated) %}
<ul class="list pa0 mt0">
    {# Type is {name: post[]}[], where name is "" for no series. #}
    {% for seriesObj in collection | dateSeriesGroupBy %}
        {% if seriesObj.series != "" %}
            <li class="mb1 mt4 f5 fw6 ttu tracked">{{ seriesObj.series }}</li>
            <ol class="mb4">
        {% endif %}

        {% for post in seriesObj.posts %}
            <li class="mv1">
                <a href="{{ post.url }}" class="db pv1 link">
                    {% set displayDate = post.data.travel_end | default(post.date) %}
                    {% if useUpdated %}
                        {% set displayDate = post.data.travel_end | default(post.data.updated) | default(post.date) %}
                    {% endif %}
                    <time class="fr lightest-text-color ml3">{{ displayDate | readableDate }}</time>
                    {{ post.data.title }}
                </a>
            </li>
        {% endfor %}

        {% if seriesObj.series != "" %}
            </ol>
        {% endif %}

    {% endfor %}
</ul>
{%- endmacro -%}
