<style>
    .black-and-white:not(:hover) {
        filter: grayscale(100%);
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const langs = [
            'Python',
            'TypeScript',
            'Bash',
            'Java',
            'HTML',
            'JavaScript',
            'Ruby',
            'PHP'
        ];
        for (let lang of langs) {
            let lower = lang.toLowerCase();
            tippy(`.${lower}`, {
                content: `Written in ${lang}`,
                theme: 'light'
            });
        }
    });
</script>
