{% set sortAttr = ("title" if "garage" in tags else "seriesOrder") %}
{% set seriesPostDatas = collections.all | attr("data") | selectAttrEquals("series", series) | sort(false, false, sortAttr) %}

{# Only show this navigator if > 1 post in the series #}
{% if seriesPostDatas | length > 1 %}

<div class="mb3 alt-bg sans-serif">
    <div class="mw7 center tl ph3 ph4-ns pv4 pv5-l normal-links">
        <p class="b ttu tracked lh-solid mt1 f4">
            {{ series }}
        </p>

        {% set colClass = "doublecol-ns" if seriesPostDatas | length >= 10 else "" %}
        <ol class="ma0 f5 {{ colClass }} pl0">
            {% for seriesPostData in seriesPostDatas %}
                <li class="ml4">
                    {% if seriesPostData.title == title %}
                        <span class="b db pt1">
                            {{ seriesPostData.title }}
                        </span>
                    {% else %}
                        <a href="{{ seriesPostData.page.url | url }}" class="db pt1">
                            {{ seriesPostData.title }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
</div>

{% endif %}
