{% set seriesPostDatas = collections.all | attr("data") | selectAttrEquals("series", series) | sort(false, false, "seriesOrder") %}

{# Only show this navigator if > 1 post in the series #}
{% if seriesPostDatas | length > 1 %}

<div class="ba border-color mv5 series-top">
    <p class="off-bg-color mv0 pv2 ph3 b">
        <span class="fr ttu lightest-text-color tracked dib f7 f6-ns">series</span>
        {{ series }}
    </p>

    <div class="pa3">
        <ol class="ma0">
            {% for seriesPostData in seriesPostDatas %}
                <li class="">
                    {% if seriesPostData.title == title %}
                        <span class="b">
                            {{ seriesPostData.title }}
                        </span>
                    {% else %}
                        <a href="{{ seriesPostData.page.url | url }}" class="db pv1">
                            {{ seriesPostData.title }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>

    </div>
</div>

{% endif %}
