<div class="ba b--black-10 mv5">
    <p class="bg-near-white black-60 mv0 pv2 ph3 b">
        <span class="fr ttu tracked dib black-30 f6 f5-ns">series</span>
        {{ series }}
    </p>

    <div class="pa3 flex">
        <div class="w-50 ma0">
            {% set prevPost = collections.all | attr("data") | selectAttrEquals("series", series) | selectAttrEquals("seriesOrder", seriesOrder - 1) | first %}
            {% if prevPost %}
                <p class="b ttu tracked ma0 black-30 f7 f6-ns">&larr; previous</p>
                <a href="{{ prevPost.page.url | url }}" class=" ma0 link">{{ prevPost.seriesOrder }}. {{prevPost.title }}</a>
            {% endif %}
        </div>
        <div class="w-50 ma0 tr">
            {% set nextPost = collections.all | attr("data") | selectAttrEquals("series", series) | selectAttrEquals("seriesOrder", seriesOrder + 1) | first %}
            {% if nextPost %}
                <p class="b ttu tracked ma0 black-30 f7 f6-ns">next &rarr;</p>
                <a href="{{ nextPost.page.url | url }}" class=" ma0 link">{{ nextPost.seriesOrder }}. {{nextPost.title }}</a>
            {% endif %}
        </div>
    </div>
</div>
