{# These nunjuck blocks all trim whitespace because when this is included from a
   markdown file, it seems to get markdown parsed by default (the opposite of the
   problem other people online seemed to be having), which meant everything got
   put in <pre><code> blocks because they were indented. #}
<div class="pl3 bl bw1 mb4">
    <a href="{{- item.data.software_url -}}" class="f5 f4-ns b code">
        {{- item.data.title -}}
    </a>
    {%- if item.data.language -%}
        <span class="dib fr">
            <img
                class="h1 novmargin mt1 black-and-white {{ item.data.language }}"
                src="{{ ["/assets/img/langs/", item.data.language, ".svg"] | join }}"/>
        </span>
    {%- endif -%}
    {%- if item.templateContent | length > 0 -%}
        <details>
            <summary class="mv1 pointer f5 f4-ns sans-serif">
                {{- item.data.summary -}}
            </summary>
            <p class="f6 f5-ns">
                {{- item.templateContent | replace("<p>", "") | replace("</p>", "") | safe -}}
            </p>
        </details>
    {%- else -%}
        <p class="mv1 f5 f4-ns">{{- item.data.summary -}}</p>
    {%- endif -%}
</div>
