{# These nunjuck blocks all trim whitespace because when this is included from a
   markdown file, it seems to get markdown parsed by default (the opposite of the
   problem other people online seemed to be having), which meant everything got
   put in <pre><code> blocks because they were indented. #}
<div class="pl3 bl bw1 mb4">
    <a href="{{- item.software_url -}}" class="f5 f4-ns b code">
        {{- item.title -}}
    </a>
    {%- if item.language -%}
        <span class="dib fr">
            <img
                class="h1 black-and-white {{ item.language }}"
                src="{{ ["/assets/img/langs/", item.language, ".svg"] | join | url }}"/>
        </span>
    {%- endif -%}
    {%- if item.content | length > 0 -%}
        <details>
            <summary class="mv1 pointer f5 f4-ns">
                {{- item.summary -}}
            </summary>
            <p class="f6 f5-ns">
                {{- item.content | replace("<p>", "") | replace("</p>", "") -}}
            </p>
        </details>
    {%- else -%}
        <p class="mv1 f5 f4-ns">{{- item.summary -}}</p>
    {%- endif -%}
</div>
