<div class="br1 ba b--black-10 mv4 bob">
  <div class="f4 f3-ns fw6 bg-light-yellow br1 br--top black-60 mv0 pv2 ph3">Stub</div>
  <div class="pa3 bt b--black-10 bg-washed-yellow">
    <p class="f6 f5-ns lh-copy black-90">
        This is a placeholder for me to write more. Bug me if you want to read it.
    </p>
  </div>
</div>
