<script type="text/javascript" src="/assets/lib/leaflet-1.9.3.min.js" defer></script>
<script type="text/javascript" src="/assets/lib/maplibre-gl-3.2.1.js" defer></script>
<script type="text/javascript" src="/assets/lib/leaflet-maplibre-gl-0.0.20.js" defer></script>
<script type="text/javascript" src="/assets/lib/leaflet.curve-0.9.1.min.js" defer></script>
<script type="text/javascript" src="/assets/lib/anime-3.2.1.min.js" defer></script>
<script>
    // Vars here change during deploy env (personal website).
    let libDir = "/assets/mapData/";
    let postDir = "/assets/posts/2022-bosnia/";
    let activeList = [""];
</script>
<script src="/assets/posts/2022-bosnia/bosnia.js" defer></script>

<div class="full-width flex flex-wrap flex-nowrap-ns justify-center fig mb0 pv5 fade-bg">
    <!-- Left -->
    <div class="ph3 pb4 pb3-l w-100 w-auto-ns mw-50-ns">
        <div class="relative">
            <div id="mapContext" class="leafletMap bg-white mapSmall center">
                <img src="/assets/posts/2022-bosnia/bosnia-map-context.png" />
            </div>
            <div id="mapLabelOverlay"
                class="ph2 ph3-l pv1 bg-white o-90 sans-serif mid-gray shadow-4 br2 dib absolute flex items-center lh-title">
                <span class="f3 f2-l mr3">🇧🇦</span>
                <span class="f4 f3-l b dib tc">Bosnia and Herzegovina</span>
            </div>
        </div>
    </div>
    <!-- Right -->
    <div class="ph3 w-100 w-auto-ns mw-50-ns">
        <div id="mapTravel" class="leafletMap bg-white mapSmall center">
            <img src="/assets/posts/2022-bosnia/bosnia-map-travel.png" />
        </div>
    </div>
</div>
