{% extends "maps/map-base.njk" %}
{% import "maps/map-overlays.njk" as overlays %}

{% block setupScript %}
<script type="text/javascript">
    const MAP_CONFIG = {
        core: {
            mapDataDir: "{{ "/assets/mapData/" | url }}",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            { name: "Israel", "color": "#357EDD" },
            { name: "Palestine", "color": "#19A974" },
        ],
        context: {
            padding: 2.50,
        },
        trip: {
            padding: 0.00,
            places: [
                [31.7833, 35.2167, "Jerusalem", "right", "in"],
                [32.0800, 34.7800, "Tel Aviv", "left", "in"],
                [32.8000, 34.9833, "Haifa", "right", "in"],
            ],
            placeColor: "#357EDD",
        },
        neighborsMaps: [
            {
                elID: "mapNeighbors",  // default
                countries: [
                    ["Spain", [40.450525, -1.849750], "left"],
                    ["France", [45.470435, 2.950101], "bottom"],
                    ["Italy", "auto", "left"],
                    ["Malta", "auto", "bottom"],
                    ["Slovenia", "auto", "top"],
                    ["Croatia", [44.900480, 13.931407], "left"],
                    ["Bosnia and Herzegovina", [44.758474, 17.867489], "right"],
                    ["Montenegro", [42.864174, 19.212634], "left"],
                    ["Albania", "auto", "right"],
                    ["Greece", "auto", "bottom"],
                    ["Turkey", "auto", "left"],
                    ["Cyprus", "auto", "left"],
                    ["Northern Cyprus", "auto", "top"],
                    ["Syria", "auto", "top"],
                    ["Lebanon", "auto", "right"],
                    ["Israel", "auto", "left"],
                    ["Palestine", "auto", "right"],
                    ["Egypt", "auto", "top"],
                    ["Libya", "auto", "top"],
                    ["Tunisia", "auto", "left"],
                    ["Algeria", "auto", "top"],
                    ["Morocco", [31.851849, -6.272384], "left"],
                ],
                bounds: [
                    [32.173904, -11.762316],
                    [42.677251, 40.897252],
                ],
                endTimelineOffset: '-=4200',
            },
        ],
    };
</script>
{% endblock %}

{% block wrapperClasses %}fade-bg fig pv5{% endblock %}
{% block contextPreview %}<img src="/assets/posts/2022-israel/israel-map-context.png" />{% endblock %}
{% block contextOverlay %}{{ overlays.doubleOverlay("🇮🇱", "Israel", "🇵🇸", "Palestine") }}{% endblock %}
{% block tripPreview %}<img src="/assets/posts/2022-israel/israel-map-travel.png" />{% endblock %}
