{% macro insertMap(mapClasses, previewIMG) %}
<div class="full-width flex justify-center fig mb0 pv4 pv5-l fade-bg">
    <div class="ph3 w-100">
        <div id="mapNeighbors" class="bg-white center {{ mapClasses }}">
            <img src="{{ previewIMG }}" loading="lazy" decoding="async" />
        </div>
    </div>
</div>
{%- endmacro -%}
