<script type="text/javascript" src="/assets/lib/leaflet-1.9.3.min.js" defer></script>
<script type="text/javascript" src="/assets/lib/tile.stamen-1.3.0.js" defer></script>
<script type="text/javascript" src="/assets/lib/leaflet.curve-0.9.1.min.js" defer></script>
<script type="text/javascript" src="/assets/lib/anime-3.2.1.min.js" defer></script>

{% block setupScript %}{% endblock %}
<script src="/assets/js/maps-common.js" defer></script>

{# standard wrapperClasses are "fade-bg fig" #}
<div class="full-width cb flex flex-wrap flex-nowrap-ns justify-center pv4 pv5-l {% block wrapperClasses %}{% endblock %}">
    <div class="mb4 mb0-ns ph3 w-100 w-auto-ns mw-50-ns">
        <div class="relative">
            <div id="mapContext" class="leafletMap bg-white {% block mapCtxClasses %}{% endblock %} center">
                <img src="{% block contextPreview %}{% endblock %}" class="novmargin" />
            </div>
            {% block contextOverlay %}{% endblock %}
        </div>
    </div>
    <div class="ph3 w-100 w-auto-ns mw-50-ns">
        <div id="mapTrip" class="leafletMap bg-white {% block mapTripClasses %}{% endblock %} center">
            <img src="{% block tripPreview %}{% endblock %}" class="novmargin" />
        </div>
    </div>
</div>
