{% macro insertMap(mapID, mapClasses, previewIMG, containerClasses="full-width fade-bg pv4 pv5-l") %}
<div class="{{ containerClasses }} cb flex justify-center fig">
    <div class="ph3 w-100">
        <div id="{{ mapID }}" class="bg-white center {{ mapClasses }}">
            <img src="{{ previewIMG }}" loading="lazy" decoding="async" />
        </div>
    </div>
</div>
{%- endmacro -%}
