{% extends "maps/map-base-triple.njk" %}
{% import "maps/map-overlays.njk" as overlays %}

{% block setupScript %}
<script type="text/javascript">
    const MAP_CONFIG = {
        core: {
            mapDataDir: "/assets/mapData/",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            // { name: "Malaysia", "color": "#FFD700" },
            { name: "Malaysia", "color": "#FF4136" },
        ],
        context: {
            tileLayer: "stamen_terrain_background",
            padding: 1.0,
        },
        trip: {
            tileLayer: "stamen_terrain_background",
            padding: 0.005,
            places: [
                [5.407, 100.256, "Penang", "right", "in"],
            ],
            placeCircleRadius: 50000,
            placeColor: "#FFFFFF",
            offsetTooltip: "-=1500",
        }
    };
</script>
{% endblock %}

{% block wrapperClasses %}map-bg{% endblock %}
{% block contextPreview %}/assets/posts/2022-penang/penang-map-context.png{% endblock %}
{% block contextOverlay %}{{ overlays.overlay("🇲🇾", "Malaysia") }}{% endblock %}
{% block tripPreview %}/assets/posts/2022-penang/penang-map-travel.png{% endblock %}
{% block cityMap %}{% cityMap [
    "/assets/posts/2022-penang/penang-map-0.png",
    "/assets/posts/2022-penang/penang-map-1.png",
    "/assets/posts/2022-penang/penang-map-2.png",
    "/assets/posts/2022-penang/penang-map-3.png"
], false, false, false, "mapSmall", true, "shadow-1" %}{% endblock %}
