{% extends "maps/map-base-double.njk" %}
{% import "maps/map-overlays.njk" as overlays %}

{% block setupScript %}
<script type="text/javascript">
    const MAP_CONFIG = {
        core: {
            mapDataDir: "/assets/mapData/",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            { name: "Philippines", "color": "#357EDD" },
        ],
        context: {
            padding: 1.5,
        },
        trip: {
            padding: 0.0,
            places: [
                [14.599605, 120.985202, "Manila", "top", "in"],
                [9.659, 123.856, "Bohol", "right", "in"],
                [11.183, 119.393, "El Nido", "left", "in"],
            ],
            // placeColor: "#357EDD",
            placeColor: "#FFFFFF",
            active: ["{{ activePlace }}"],
            activeTooltipColor: "blue",
        }
    };
</script>
{% endblock %}

{% set activePlaceSlug = activePlaceSlug | default(activePlace) | lower %}

{% block wrapperClasses %}alt-bg{% endblock %}
{% block mapCtxClasses %}mapSmall{% endblock %}
{% block contextPreview %}/assets/posts/2022-manila/philippines-map-context.png{% endblock %}
{% block contextOverlay %}{{ overlays.overlay("🇵🇭", "The Philippines") }}{% endblock %}
{% block mapTripClasses %}mapSmall{% endblock %}
{% block tripPreview %}/assets/posts/2022-{{ activePlaceSlug }}/{{ activePlaceSlug }}-map-travel.png{% endblock %}
