{% extends "maps/map-base.njk" %}
{% import "maps/map-overlays.njk" as overlays %}

{% block setupScript %}
<script>
    const MAP_CONFIG = {
        core: {
            mapDataDir: "{{ "/assets/mapData/" | url }}",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            { name: "Serbia", "color": "#FF4136" },
        ],
        context: {
            padding: 2.25,
        },
        trip: {
            padding: 0.05,
            places: [
                [44.8167, 20.4667, "Belgrade", "right", "in"],
                [45.2644, 19.8317, "Novi Sad", "right", "in"],
            ],
            placeColor: "#FF4136",
        },
    };
</script>
{% endblock %}

{% block contextPreview %}<img src="/assets/posts/2022-serbia/serbia-map-context.png" />{% endblock %}
{% block contextOverlay %}{{ overlays.overlay("🇷🇸", "Serbia") }}{% endblock %}
{% block tripPreview %}<img src="/assets/posts/2022-serbia/serbia-map-travel.png" />{% endblock %}
