{% extends "maps/map-base-triple.njk" %}
{% import "maps/map-overlays.njk" as overlays %}

{% block setupScript %}
<script type="text/javascript">
    const MAP_CONFIG = {
        core: {
            mapDataDir: "/assets/mapData/",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            { name: "Singapore", "color": "#FF4136" },
        ],
        context: {
            tileLayer: "stamen_terrain_background",
            padding: 80.0,
            labelCountries: true,
            countryLabels: ["right in here"],
        },
        trip: {
            tileLayer: "stamen_terrain_background",
            padding: 5.0,
            places: [
                [1.263024, 103.852291, "Singapore", "bottom", "in"],
            ],
            placeCircleRadius: 100,
            skipBounce: true,
            // placeColor: "#FF4136",
            placeColor: "#FFFFFF",
            // active: ["Manila"],
            activeTooltipColor: "red",
        }
    };
</script>
{% endblock %}

{% block wrapperClasses %}map-bg{% endblock %}
{% block contextPreview %}/assets/posts/2022-singapore/singapore-map-context.png{% endblock %}
{% block contextOverlay %}{{ overlays.overlay("🇸🇬", "Singapore") }}{% endblock %}
{% block tripPreview %}/assets/posts/2022-singapore/singapore-map-travel.png{% endblock %}
{% block cityMap %}{% cityMap [
    "/assets/posts/2022-singapore/singapore-map-square.png"
], false, false, false, "mapSmall shadow-1", true %}{% endblock %}
