{% extends "maps/map-base-double.njk" %}
{% import "maps/map-overlays.njk" as overlays %}

{% block setupScript %}
<script type="text/javascript">
    const MAP_CONFIG = {
        core: {
            mapDataDir: "/assets/mapData/",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            { name: "Vietnam", "color": "#FFD700" },
        ],
        context: {
            padding: 1.50,
        },
        trip: {
            padding: 0.05,
            places: [
                [21.029, 105.854, "Hanoi", "right", "in"],
                [22.336, 103.843, "Sapa", "left", "in"],
                [21.029, 105.854, "Hanoi", "right", "in"],
                [11.940, 108.438, "Dalat", "right", "out"],
                [10.776, 106.702, "Ho Chi Minh City", "left", "in"],
            ],
            placeColor: "#FF4136",
            active: ["{{ activePlace  }}"],
            activeTooltipColor: "red",
        },
        neighborsMaps: [
            {
                elID: "mapHanoiOMTAs",
                countries: [
                    ["Vietnam", "auto", "top"],
                ],
                countryColors: ["#FFD700"],
                animateCountries: false,
                labelCountries: false,
                bounds: [
                    [23.0, 102.5],
                    [19.5, 107.8],
                ],
                places: [
                    [21.029, 105.854, "Hanoi", "left", "in"],
                    [22.336, 103.843, "Sapa", "right", "in"],
                    [20.255, 105.976, "Ninh Binh", "left", "in"],
                    [20.908, 107.068, "Halong Bay", "top", "in"],
                ],
                placeColor: "#FF4136",
                placeCircleRadius: 10000,
                endTimelineOffset: '-=2200',
            },
            {
                elID: "mapLaoCaiSapa",
                countries: [
                    ["Vietnam", "auto", "top"],
                ],
                countryColors: ["#FFD700"],
                animateCountries: false,
                labelCountries: false,
                bounds: [
                    [22.8, 103.1],
                    [20.9, 106.3],
                ],
                places: [
                    [21.029, 105.854, "Hanoi", "top", "in"],
                    [22.297, 104.057, "Lao Cai", "right", "in"],
                    [22.336, 103.843, "Sapa", "left", "in"],
                ],
                drawPlaceLines: true,
                placeColor: "#FF4136",
                placeCircleRadius: 5000,
                endTimelineOffset: '-=2200',
            },
            {
                elID: "mapDanangHoian",
                countries: [
                    ["Vietnam", "auto", "top"],
                ],
                countryColors: ["#FFD700"],
                animateCountries: false,
                labelCountries: false,
                bounds: [
                    [23.5, 102.5],
                    [8.5, 110.8],
                ],
                places: [
                    [21.029, 105.854, "Hanoi", "top", "in"],
                    [22.336, 103.843, "Sapa", "bottom", "in"],
                    [16.068, 108.212, "Da Nang", "right", "in"],
                    [15.880, 108.327, "Hoi An", "left", "in"],
                    [11.940, 108.438, "Dalat", "right", "out"],
                    [10.776, 106.702, "Ho Chi Minh City", "left", "in"],
                ],
                active: ["Da Nang", "Hoi An"],
                activeTooltipColor: "red",
                placeColor: "#FF4136",
                placeCircleRadius: 20000,
                endTimelineOffset: '-=3200',
            },
        ],
    };
</script>
{% endblock %}

{% set activePlaceSlug = activePlaceSlug | default(activePlace) | lower %}

{% block wrapperClasses %}fade-bg fig{% endblock %}
{% block mapCtxClasses %}mapSmall{% endblock %}
{% block contextPreview %}/assets/posts/2022-hanoi/vietnam-map-context.png{% endblock %}
{% block contextOverlay %}{{ overlays.overlay("🇻🇳", "Vietnam") }}{% endblock %}
{% block mapTripClasses %}mapSmall{% endblock %}
{% block tripPreview %}/assets/posts/2022-{{ activePlaceSlug }}/{{ activePlaceSlug }}-map-travel.png{% endblock %}
