{% import "maps/map-overlays.njk" as overlays %}

<script type="text/javascript" src="/assets/lib/leaflet-1.9.3.min.js" defer></script>
<script type="text/javascript" src="/assets/lib/maplibre-gl-3.2.1.js" defer></script>
<script type="text/javascript" src="/assets/lib/leaflet-maplibre-gl-0.0.20.js" defer></script>
<script type="text/javascript" src="/assets/lib/leaflet.curve-0.9.1.min.js" defer></script>
<script type="text/javascript" src="/assets/lib/anime-3.2.1.min.js" defer></script>

<script type="text/javascript">
    const MAP_CONFIG = {
        core: {
            mapDataDir: "/assets/mapData/",
        },
        // Settings common to context and travel maps
        subjectCountries: [
            { name: "United States of America", "color": "#357EDD" },
        ],
        context: {
            tileLayer: "stamen_terrain_background",
            padding: 0.8,
        },
        trip: {
            tileLayer: "stamen_terrain_background",
            padding: 0.05,
            customBounds: [
                [50.240064, -125.974879],
                [28.086132, -113.576183],
            ],
            places: [
                [47.604, -122.330, "Seattle", "right", "in"],
                [32.717, -117.163, "San Diego", "left", "in"],
            ],
            placeCircleRadius: 50000,
            skipBounce: true,
            placeColor: "#FFFFFF",
            offsetPlace: "+=0",
            offsetPath: "-=1500",
            offsetTooltip: "-=1500",
        }
    };
</script>
<script src="/assets/js/maps-common.js" defer></script>

<div class="full-width cb flex flex-wrap flex-nowrap-ns justify-center pv4 pv5-l map-bg">
    <div class="ph3 w-100 w-auto-ns mw-33-ns">
        <div class="relative">
            <div id="mapTrip" class="leafletMap bg-white mapSmall center shadow-1">
                <img src="/assets/posts/2023-wintermission/travel-map.png" class="novmargin" />
            </div>
            {{ overlays.overlay("🇺🇸", "USA", "map-bg-o70") }}
        </div>
    </div>
    <div class="mv4 mv0-ns ph3 w-100 w-auto-ns mw-33-ns relative">
        <img src="/assets/posts/2023-wintermission/seattle-map-notext.png" class="novmargin br-100 mapSmall shadow-1" />
        {{ overlays.overlay(
            "<div class='flex items-center' style='height: 1.25em;'><img src='/assets/mapData/flags/seattle.svg' class='novmargin w-flag' /></div>",
            "Seattle,&nbsp;WA",
            "map-bg-o70")
        }}
    </div>
    <div class="ph3 w-100 w-auto-ns mw-33-ns relative">
        <img src="/assets/posts/2023-wintermission/san-diego-map-notext.png" class="novmargin br-100 mapSmall shadow-1" />
        {{ overlays.overlay(
            "<div class='flex items-center' style='height: 1.25em;'><img src='/assets/mapData/flags/san-diego.svg' class='novmargin w-flag' /></div>",
            "San&nbsp;Diego,&nbsp;CA",
            "map-bg-o70")
        }}
    </div>
</div>
