/* Custom CSS styling for maps. */

.leafletMap {
    aspect-ratio: 1;
    max-width: 100%;
    border-radius: 50%;
    /* Safari needs z-index (!) for border radius to work. */
    z-index: 1;
}

.leafletMapWide {
    aspect-ratio: 2;
    max-width: 100%;
    border-radius: 25%;
    /* Safari needs z-index (!) for border radius to work. */
    z-index: 1;
}

.mapWide {
    width: 800px;
}

/* Need second more specific selector to get to work for inline maps under
markdown body, else full-width due to all elements controlling their own width
with the new (non-markdown-body-width-limited) layout. */
.mapBig,
.markdown-body>.mapBig {
    width: 600px;
}

.mapMedium {
    width: 525px;
}

.mapSmall {
    width: 450px;
}

.mapOutlineContext {
    opacity: 0.4;
}

.mapMarker {
    opacity: 0;
}

.mapPath {
    opacity: 0.0;
    transform: translate(-3px, -7px);
}

.mapPlace {
    opacity: 0.0;
}

#mapLabelOverlay {
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}
