:root {
    /* tachyons: near-black (txt), blue (link) dark-blue (visited) */
    --bg-color: #fff;
    --off-bg-color: #f4f4f4;
    --alt-bg-color: #e2e5e9;
    --dark-bg-color: #cbced2;
    --flash-bg-color: #FBF1A9;
    /* --alt-bg-color: #fff; */
    --bg-image: none;
    --text-color: #111;
    --alt-text-color: #1e2b3a;
    --link-color: #357edd;
    --link-text-decoration: none;
    --button-color: #357edd;
    --button-border-color: #357edd;
    --button-hover-color: #1d457a;
    --hover-link-color: #1d457a;
    --visited-link-color: #00449E;
    --lighter-text-color: #555;
    --lightest-text-color: #777;
    --heavy-border-color: #333;
    --border-color: #ccc;
    --table-row-border-color: #e1e1e1;
    --fade-bg-image: linear-gradient(rgba(5, 5, 38, 0.02) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 80%,
            rgba(5, 5, 38, 0.02) 100%);
    --hover-img-url: url(/assets/img/line3-blue-for-light.png);
    --alt-border: none;
    --warn-bg-color: #FBF1A9;
    /* tachyons: light-yellow */
    --warn-text-color: #111111;
    /* tachyons: near-black */
}

[data-theme="dark"] {
    /* Not sure I want things this blue. */
    /* --bg-color: #161625; */
    --bg-color: #1e1e1e;
    --off-bg-color: #282828;
    --alt-bg-color: #141414;
    --dark-bg-color: #000000;
    --flash-bg-color: #FFB70066;
    --bg-image: none;
    --text-color: #fff;
    --alt-text-color: #fff;
    --link-color: #4f8af8;
    --link-text-decoration: none;
    --button-color: #4f8af8;
    --button-border-color: #4f8af8;
    --button-hover-color: #83adfc;
    --hover-link-color: #83adfc;
    --visited-link-color: #4f8af8;
    --lighter-text-color: #bbb;
    --lightest-text-color: #808080;
    --heavy-border-color: #fff;
    --border-color: #888;
    --table-row-border-color: #343434;
    --fade-bg-image: linear-gradient(rgba(5, 5, 38, 0.12) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 80%,
            rgba(5, 5, 38, 0.12) 100%);
    --hover-img-url: url(/assets/img/line3-blue-for-dark.png);
    --warn-bg-color: #FFB700;
    /* tachyons: gold */
    --warn-text-color: #111111;
    /* tachyons: near-black */
}

[data-theme="vaporwave"] {
    --bg-color: transparent;
    --off-bg-color: rgba(255, 255, 255, 0.1);
    --alt-bg-color: transparent;
    --dark-bg-color: transparent;
    --bg-image: linear-gradient(45deg,
            hsl(240deg 100% 20%) 0%,
            hsl(289deg 100% 21%) 23%,
            hsl(315deg 100% 27%) 39%,
            hsl(329deg 100% 36%) 51%,
            hsl(337deg 100% 43%) 61%,
            hsl(357deg 91% 59%) 69%,
            hsl(17deg 100% 59%) 77%,
            hsl(34deg 100% 53%) 83%,
            hsl(45deg 100% 50%) 91%,
            hsl(55deg 100% 50%) 100%);
    --text-color: #fff;
    --alt-text-color: #fff;
    --link-color: #fff;
    --link-text-decoration: underline;
    --button-color: rgba(1, 1, 1, 0);
    --button-border-color: #fff;
    --button-hover-color: rgba(0, 0, 0, 1);
    --hover-link-color: #fff;
    --visited-link-color: #fff;
    --lighter-text-color: #fff;
    --lightest-text-color: #fff;
    --heavy-border-color: #fff;
    --border-color: #fff;
    --table-row-border-color: #fff;
    --fade-bg-image: linear-gradient(rgba(5, 5, 38, 0.12) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 80%,
            rgba(5, 5, 38, 0.12) 100%);
    --hover-img-url: url(/assets/img/line3-light.png);
    --alt-border: 1px solid white;
}

body {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    color: var(--text-color);
    /* transition: background-color 1s, color 1s; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.ttu,
.footnote-ref,
.sidenote-number,
li.footnote-item::marker,
.footnotes-label,
.link {
    /* tachyons: .sans-serif */
    font-family: -apple-system, BlinkMacSystemFont,
        'avenir next', avenir,
        helvetica, 'helvetica neue',
        ubuntu,
        roboto, noto,
        'segoe ui', arial,
        sans-serif;
}

/* Prevent link (e.g., top "Maxwell Forbes") from changing color. */
.textcolor {
    color: var(--text-color);
    transition: color 1s;
}

.fade-bg {
    background-image: var(--fade-bg-image);
}

.bg-white-o90 {
    /* E6 = 255 * 0.9 = 230 */
    background-color: #FFFFFFE6;
}

.map-bg {
    background-color: #FCEEE1;
}

.map-bg-o70 {
    /* FF = 255 */
    /* B2 = 255 * 0.7 = 178(.5) */
    background-color: #FCEEE1B2;
}

.w-flag {
    width: 1em;
    min-width: 1em;
}

.warning {
    background-color: var(--warn-bg-color);
    color: var(--warn-text-color);
}

.emailButton {
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    color: white;
}

.emailButton:hover {
    border: 1px solid var(--button-hover-color);
    background-color: var(--button-hover-color);
}

.alt-bg {
    background-color: var(--alt-bg-color);
    color: var(--alt-text-color);
    border: var(--alt-border);
}

.dark-bg {
    background-color: var(--dark-bg-color);
    border: var(--alt-border);
}

.off-bg-color {
    background-color: var(--off-bg-color);
}

.lighter-text-color {
    color: var(--lighter-text-color);
}

.lightest-text-color {
    color: var(--lightest-text-color);
}

/* Color theme icon */

.color-scheme-icon {
    height: 1em;
    margin-bottom: -0.15em;
}

.color-scheme-icon g {
    fill: var(--lightest-text-color);
}

.color-scheme-icon:hover {
    cursor: pointer;
}

.color-scheme-icon:hover g {
    fill: var(--text-color);
}

.color-scheme-icon,
[data-theme="dark"] #color-scheme-icon-light,
[data-theme="vaporwave"] #color-scheme-icon-light {
    display: none;
}

#color-scheme-icon-light {
    display: inline-block;
}

[data-theme="dark"] #color-scheme-icon-dark {
    display: inline-block;
}

[data-theme="vaporwave"] #color-scheme-icon-vaporwave {
    display: inline-block;
}

/* Tinyletter */

.tinyletter {
    height: 1.3em;
    background-image: url(/assets/img/tinyletter.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 22px; */
}

[data-theme="dark"] .tinyletter,
[data-theme="vaporwave"] .tinyletter {
    background-image: url(/assets/img/tinyletter-light.png);
}

.heavy-border-color {
    border-color: var(--heavy-border-color);
}

.border-color {
    border-color: var(--border-color);
}

.table-row-border-color {
    border-color: var(--table-row-border-color);
}

.top-50 {
    top: 50%
}

.link {
    /* border-bottom: 1px solid transparent; */
}

.link:hover {
    /* background: url(/assets/img/line3-blue-for-light.png) repeat-x left bottom; */
    background: var(--hover-img-url) repeat-x left bottom;
    /* border-bottom: 1px solid var(--text-color); */
}

/* Markdown styles */

/* Making a's everywhere!

Previously was:
    .markdown-body a {
*/
a {
    text-decoration: var(--link-text-decoration);
    color: var(--link-color);
}

.markdown-body a:visited:not(.novisitedstyle) {
    color: var(--visited-link-color);
}

/* Removing space that gets inserted before nested bullets. E.g.,

- foo
    - bar
    - baz

... becomes

- foo

    - bar
    -baz

... because for some reason, "foo" is getting wrapped in a <p></p> but the
rest aren't.
*/
li>p {
    margin-bottom: 0px;
}

.markdown-body pre {
    margin: 0;
    overflow: auto;
}

.markdown-body :not(pre) code {
    background-color: var(--off-bg-color);
    padding: 0.25rem 0.25rem;
}



/* Making hrs everywhere do this!

Previously was
  .markdown-body > hr {
*/

.markdown-body hr:not(.footnotes-sep) {
    margin-top: 4em;
    margin-bottom: 4em;
    width: 2em;
    border-style: dotted none none;
    border-width: 7px;
    border-color: var(--border-color);
}

.microblogpost {
    border-bottom: 1px solid var(--border-color);
}

.microblogpost:last-of-type {
    border: none;
}

.markdown-body blockquote blockquote {
    border-left: none;
    font-style: italic;
}

blockquote {
    background: var(--off-bg-color);
    /* TODO - Why isn't this showing up in top-level blockquotes?
     Even adding a specific rule to them (above) doesn't help... */
    border-left: .2rem solid var(--border-color);
    /* padding-left            : 3.8rem; */
}

.markdown-body li blockquote {
    /* background         : #f9f9f9; */
    /* padding-left: 3.8rem; */
    padding: 1rem 2rem;
}

/* Editing scribble (mu-an) defaults: this used to be the same as blockquote.
     Starting more on left.    */
/* .markdown-body pre code, */
.markdown-body>blockquote {
    /* TODO: check and maybe reenable for blockquotes */
    padding: 0.1rem 1rem;
}

/* NOTE: Since removing overflow prevention from the <main> element,
   I had to be more careful about the excessive padding (the below used
   to be applied all the time). Unfortunately, now we do this for large
   screens only. Would love to enable again for small screens---full width
   gray background looks great---but the calculations of breaking out of
   the box and lining things up correctly (i.e., code w/ non-code text) was
   a huge hassle and would probably require javascript. */
@media screen and (min-width: 58rem) {

    .markdown-body pre code,
    .markdown-body>blockquote {
        padding: .5rem 5rem;
        margin: 2.5em -5rem;
    }
}


/* Subtitle */
p.subtitle {
    margin-top: -3.5rem;
    /* font-variant: small-caps; */
    /* font-size     : 1rem; */
}

.markdown-body a:hover:not(.nohoverstyle),
.hover-link-color:hover,
.normal-links a:hover {
    color: var(--hover-link-color);
}

.markdown-body a:hover:not(.link, .nohoverstyle),
.normal-links a:hover {
    text-decoration: underline;
}

.markdown-body>audio {
    width: 100%;
}

/* Current type sizes (defaults, I think):
   NOTE: Depends on window size, I think
   (`em` units in user agent stylesheet)
    ---------------
    h2  30.0px  700
    h3  23.4px  700
    h4  20.0px  700
    ---------------

Tachyons:
    ---------------
    .f1   3rem       48px
    .f2   2.25rem    36px
    .f3   1.5rem     24px
    .f4   1.25rem
    .f5   1rem
    .f6   .875rem
    .f7   .75rem
    ---------------

    Probably want to downgrade sizes for diff screen types.
*/

h1 {
    overflow-wrap: break-word;
}

/* Enable to reduce  space before first section header, combined with
  changing next rule to select `h2:not(:first-of-type)` rather than `h2`
*/
/* .markdown-body h2:first-of-type {
    margin-top: 2em;
} */

.markdown-body h2 {
    font-size: 2.25rem;
    margin-top: 3em;
    overflow-wrap: break-word;
}

.markdown-body h3 {
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.markdown-body h4 {
    margin-top: 2em;
    /* Any <p> will have a bigger margin than this, so doesn't really matter */
    margin-bottom: 0em;
}

/* objects are for svg. tachyons adds this to img by default */
.markdown-body object {
    max-width: 100%;
}

/* Add the "bare" class to images to avoid this behavior. */
.markdown-body img:not(.bare) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* = mv5 */
.markdown-body img:not(.novmargin, .leaflet-tile),
.markdown-body object,
.markdown-body pre,
.markdown-body .fig {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.markdown-body .figtop {
    margin-top: 4rem;
}

.markdown-body .figbot {
    margin-bottom: 4rem;
}


/* Images inline (like email address looking like it's text. */
.markdown-body img.inline {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}


.markdown-body img.left {
    margin-left: 3px;
}

/* Audio itself */
.markdown-body audio {
    margin-top: 1em;
}

/* Audio caption */
.markdown-body p.audiocaption {
    margin-top: 2px;
    margin-bottom: 1em;
}


/* Brief font index

f1: font-size: 3rem;
f2: font-size: 2.25rem;
f3: font-size: 1.5rem;
f4: font-size: 1.25rem;
f5: font-size: 1rem;
f6: font-size: 0.875rem;
f7: font-size: 0.75rem;
*/

/* Image caption. Use class figcaption. */
.markdown-body .figcaption {
    margin-top: -3.5rem;
    text-align: center;
    color: var(--lighter-text-color);
    margin-bottom: 5rem;
    /* f6 (for not-small (-ns) this gets f5) */
    font-size: 0.875rem;
}

/* Footnotes (in posts) */
.footnotes {
    margin-top: 16rem;
    /* f6 (f5-ns) */
    font-size: 0.875rem;
    margin-bottom: -12rem;
}

/*
   Bunch of custom styling to get the footnote counter within the footnotes
   themselves to look like "01 " and be bold, w/ leading zero and no dot.
*/

li.footnote-item {
    counter-increment: customfncounter;
    padding-left: 1rem;
}

li.footnote-item::marker {
    font-weight: bold;
    font-size: 83%;
    color: var(--lighter-text-color);
    content: counter(customfncounter, decimal-leading-zero) " ";
}

.footnotes-label {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.full-width {
    width: calc(100vw);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: none;
}

.content-width {
    width: 704px;
}


/* Image source note. Use class attribution. Pair with "attribution" element for far-right
caption (matching full-width image), or <p> element for text body-limited caption (for
text-width image*/
.markdown-body .figcaption.attribution {
    text-align: right;
    color: var(--lightest-text-color);
    /* f7 (for not-small (-ns) this gets f6) */
    font-size: 0.75rem;
}

/* The next two are also used in metadata (post info). */

.attribution a {
    color: var(--lightest-text-color);
    /* color: inherit; */
}

.attribution a:hover {
    color: var(--link-color);
}


/* Table styles! */

.markdown-body table:not(.tablecustomfont) {
    /* f5 - overridden to f4 when not small */
    font-size: 1rem;
}

.markdown-body table {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* padding         : 0.5em; */
    border-top: 1px solid var(--heavy-border-color);
    border-bottom: 1px solid var(--heavy-border-color);
    border-collapse: collapse;
}

.markdown-body table th {
    font-variant: small-caps;
    padding: 5px;
    background-color: var(--off-bg-color);
}

.markdown-body table td {
    padding: 5px;
}

.markdown-body table tbody tr,
.striped-row {
    border-top: 1px solid var(--table-row-border-color);
}

.markdown-body table tbody tr:nth-child(even),
.striped-row:nth-child(even) {
    background-color: var(--off-bg-color);
}

.markdown-body pre code {
    /* f6. -> f5 when not-small. */
    font-size: 0.875rem;
}


/* Up-right arrow for links that are off my site. */

/* Orig: Ignore example.com and arXiv */
/* a[href^="http://"]:not([href*="example.com"]):not([href*="arxiv.org"]):after,
a[href^="https://"]:not([href*="example.com"]):not([href*="arxiv.org"]):after { */

/* Current: ignore nothing    */
a[href^="http://"]:after,
a[href^="https://"]:after {
    content: "\00A0 \2197 \FE0E";
}

/* Inside an ordered list (1. 2. 3.), make
    - the second level use letters (a. b. c.)
    - the third level use roman numerals (i. ii. iii.)
*/
ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

/* Within site links */
.inbound ul {
    list-style-type: "⇠ ";
}

.outbound ul {
    list-style-type: "⇢ ";
}

/* Comments */
.utterances {
    margin-top: 4rem;
}

/* This is the -ns (not small) media query (at least currently) */
@media screen and (min-width: 30em) {

    .doublecol-ns {
        column-count: 2;
    }

    /*  max-width 50% not-small */
    .mw-50-ns {
        max-width: 50%;
    }

    /*  max-width 33% not-small */
    .mw-33-ns {
        max-width: 33%;
    }

    .markdown-body .figcaption {
        /* f5-ns */
        font-size: 1rem;
    }

    .markdown-body .figcaption.attribution {
        /* f6-ns */
        font-size: 0.875rem;
    }

    .footnotes {
        /* f5-ns */
        font-size: 1rem;
    }

    .markdown-body table:not(.tablecustomfont) {
        /* f4-ns */
        font-size: 1.25rem;
    }

    /* Grow table padding. */
    .markdown-body table th {
        /* vertical, horizontal */
        padding: .5rem 1rem;
    }

    .markdown-body table td {
        /* vertical, horizontal */
        padding: .5rem 1rem;
    }

    .markdown-body pre code {
        /* f5-ns */
        font-size: 1rem;
    }
}

/* For blurred BG images to stretch image real estate */
.svgBlur {
    filter: url("#sharpBlur");
}

.bgImageReady {
    /* background-position: center; */
    /* background-size: contain; */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-clip: content-box;
    opacity: 50%;

    width: 100%;
    height: 100%;
    padding: inherit;
    position: absolute;
    z-index: -1;
}

.keyBox {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-width: 2px;
    border-style: solid;
    margin-bottom: -0.12em;
    margin-left: 16px;
}

/* leaflet-inspired 0.2-opacity bg colors */
.bg-02-purple {
    background-color: #5E2CA533;
}

.bg-02-hot-pink {
    background-color: #FF41B433;
}

.bg-02-yellow {
    background-color: #FFD70033;
}

.bg-02-red {
    background-color: #FF413633;
}

.bg-02-blue {
    background-color: #357EDD33;
}

.bg-02-green {
    background-color: #19A97433;
}

.bg-02-orange {
    background-color: #FF630033;
}

@keyframes bob {
    0% {
        transform: translatey(-3px);
    }

    50% {
        transform: translatey(3px);
    }

    100% {
        transform: translatey(-3px);
    }
}

.bob {
    animation: bob 5s ease-in-out infinite;
}

@keyframes flash {
    0% {
        background-color: var(--flash-bg-color);
    }

    100% {
        background-color: inherit;
    }
}

.flash {
    animation: flash 1s ease-in-out 1;
}


.sidenote {
    display: none;
    box-sizing: border-box;
    font-size: 1rem;
    width: calc((100vw - 48rem)/2);
    margin-right: calc((100vw - 48rem)/-2 + -2rem);
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
    left: auto;
    right: 0;
    color: var(--lighter-text-color);
    word-break: break-word;
}

.sidenote-text {
    /* apparently need display: block to get it to respect max-width */
    display: block;
    max-width: 30em;
}

.sidenote-number {
    position: absolute;
    font-weight: bold;
    margin-left: -2rem;
    margin-top: 0.1em;
    font-size: 83%;
}

/* `-sv` is going to be a "sidenotes visible" media / sizing query:

    - we add it to classes w/ js because sidenotes are only added w/
      js, so we shouldn't hide anything unless sidenotes will actually
      be shown

    - we keep it as a media query so that the page remains responsive
      to resizes

    Also, note the left 48rem is the content width, and the right is a
    heuristic for how how space we want before we add the sidenotes so
    they're not too narrow.
*/
@media (min-width: calc(48rem + 48rem)) {
    .dn-sv {
        display: none;
    }

    .footnote-ref.plain-sv>a {
        color: var(--text-color);
    }

    .sidenote {
        display: inline-block;
        float: right;
        clear: right;
    }
}
