.vivify {
    -webkit-animation-duration : .8s;
    /* -webkit-animation-fill-mode: both; */
    animation-duration         : .8s;
    /* animation-fill-mode        : both; */
}


.hitLeft {
    -webkit-animation-name     : hitLeft;
    animation-name             : hitLeft;
    -webkit-backface-visibility: hidden;
    backface-visibility        : hidden;
}

@keyframes hitLeft {
    0% {
        -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        animation-timing-function        : cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transform                : translateX(0);
        transform                        : translateX(0);
    }

    40% {
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function        : cubic-bezier(0.47, 0, 0.745, 0.715);
        /* -webkit-transform                : translateX(10px) rotate(2deg); */
        /* transform                        : translateX(10px) rotate(2deg); */
        -webkit-transform                : translateY(10px) rotate(2deg);
        transform                        : translateY(10px) rotate(2deg);

    }
}

.delay-0 {
    -webkit-animation-delay: 0ms;
    animation-delay        : 0ms;
}

.delay-50 {
    -webkit-animation-delay: 50ms;
    animation-delay        : 50ms;
}

.delay-100 {
    -webkit-animation-delay: .1s;
    animation-delay        : .1s;
}

.delay-150 {
    -webkit-animation-delay: 150ms;
    animation-delay        : 150ms;
}

.duration-100 {
    -webkit-animation-duration: .1s;
    animation-duration        : .1s;
}

.duration-150 {
    -webkit-animation-duration: 150ms;
    animation-duration        : 150ms;
}

.delay-200 {
    -webkit-animation-delay: .2s;
    animation-delay        : .2s;
}

.delay-250 {
    -webkit-animation-delay: 250ms;
    animation-delay        : 250ms;
}

.duration-200 {
    -webkit-animation-duration: .2s;
    animation-duration        : .2s;
}

.duration-250 {
    -webkit-animation-duration: 250ms;
    animation-duration        : 250ms;
}

.delay-300 {
    -webkit-animation-delay: .3s;
    animation-delay        : .3s;
}

.delay-350 {
    -webkit-animation-delay: 350ms;
    animation-delay        : 350ms;
}

.duration-300 {
    -webkit-animation-duration: .3s;
    animation-duration        : .3s;
}

.duration-350 {
    -webkit-animation-duration: 350ms;
    animation-duration        : 350ms;
}

.delay-400 {
    -webkit-animation-delay: .4s;
    animation-delay        : .4s;
}

.delay-450 {
    -webkit-animation-delay: 450ms;
    animation-delay        : 450ms;
}

.duration-400 {
    -webkit-animation-duration: .4s;
    animation-duration        : .4s;
}

.duration-450 {
    -webkit-animation-duration: 450ms;
    animation-duration        : 450ms;
}

.delay-500 {
    -webkit-animation-delay: .5s;
    animation-delay        : .5s;
}

.delay-550 {
    -webkit-animation-delay: 550ms;
    animation-delay        : 550ms;
}

.duration-500 {
    -webkit-animation-duration: .5s;
    animation-duration        : .5s;
}

.duration-550 {
    -webkit-animation-duration: 550ms;
    animation-duration        : 550ms;
}

.delay-600 {
    -webkit-animation-delay: .6s;
    animation-delay        : .6s;
}

.delay-650 {
    -webkit-animation-delay: 650ms;
    animation-delay        : 650ms;
}

.duration-600 {
    -webkit-animation-duration: .6s;
    animation-duration        : .6s;
}

.duration-650 {
    -webkit-animation-duration: 650ms;
    animation-duration        : 650ms;
}

.delay-700 {
    -webkit-animation-delay: .7s;
    animation-delay        : .7s;
}

.delay-750 {
    -webkit-animation-delay: 750ms;
    animation-delay        : 750ms;
}

.duration-700 {
    -webkit-animation-duration: .7s;
    animation-duration        : .7s;
}

.duration-750 {
    -webkit-animation-duration: 750ms;
    animation-duration        : 750ms;
}

.delay-800 {
    -webkit-animation-delay: .8s;
    animation-delay        : .8s;
}

.delay-850 {
    -webkit-animation-delay: 850ms;
    animation-delay        : 850ms;
}

.duration-800 {
    -webkit-animation-duration: .8s;
    animation-duration        : .8s;
}

.duration-850 {
    -webkit-animation-duration: 850ms;
    animation-duration        : 850ms;
}

.delay-900 {
    -webkit-animation-delay: .9s;
    animation-delay        : .9s;
}

.delay-950 {
    -webkit-animation-delay: 950ms;
    animation-delay        : 950ms;
}

.duration-900 {
    -webkit-animation-duration: .9s;
    animation-duration        : .9s;
}

.duration-950 {
    -webkit-animation-duration: 950ms;
    animation-duration        : 950ms;
}

.delay-1000 {
    -webkit-animation-delay: 1s;
    animation-delay        : 1s;
}

.delay-1250 {
    -webkit-animation-delay: 1250ms;
    animation-delay        : 1250ms;
}

.delay-1500 {
    -webkit-animation-delay: 1.5s;
    animation-delay        : 1.5s;
}

.delay-1750 {
    -webkit-animation-delay: 1750ms;
    animation-delay        : 1750ms;
}

.duration-1000 {
    -webkit-animation-duration: 1s;
    animation-duration        : 1s;
}

.duration-1250 {
    -webkit-animation-duration: 1250ms;
    animation-duration        : 1250ms;
}

.duration-1500 {
    -webkit-animation-duration: 1.5s;
    animation-duration        : 1.5s;
}

.duration-1750 {
    -webkit-animation-duration: 1750ms;
    animation-duration        : 1750ms;
}

.delay-2000 {
    -webkit-animation-delay: 2s;
    animation-delay        : 2s;
}

.delay-2250 {
    -webkit-animation-delay: 2250ms;
    animation-delay        : 2250ms;
}

.delay-2500 {
    -webkit-animation-delay: 2.5s;
    animation-delay        : 2.5s;
}

.delay-2750 {
    -webkit-animation-delay: 2750ms;
    animation-delay        : 2750ms;
}

.duration-2000 {
    -webkit-animation-duration: 2s;
    animation-duration        : 2s;
}

.duration-2250 {
    -webkit-animation-duration: 2250ms;
    animation-duration        : 2250ms;
}

.duration-2500 {
    -webkit-animation-duration: 2.5s;
    animation-duration        : 2.5s;
}

.duration-2750 {
    -webkit-animation-duration: 2750ms;
    animation-duration        : 2750ms;
}

.delay-3000 {
    -webkit-animation-delay: 3s;
    animation-delay        : 3s;
}

.delay-3250 {
    -webkit-animation-delay: 3250ms;
    animation-delay        : 3250ms;
}

.delay-3500 {
    -webkit-animation-delay: 3.5s;
    animation-delay        : 3.5s;
}

.delay-3750 {
    -webkit-animation-delay: 3750ms;
    animation-delay        : 3750ms;
}

.duration-3000 {
    -webkit-animation-duration: 3s;
    animation-duration        : 3s;
}

.duration-3250 {
    -webkit-animation-duration: 3250ms;
    animation-duration        : 3250ms;
}

.duration-3500 {
    -webkit-animation-duration: 3.5s;
    animation-duration        : 3.5s;
}

.duration-3750 {
    -webkit-animation-duration: 3750ms;
    animation-duration        : 3750ms;
}

.delay-4000 {
    -webkit-animation-delay: 4s;
    animation-delay        : 4s;
}

.delay-4250 {
    -webkit-animation-delay: 4250ms;
    animation-delay        : 4250ms;
}

.delay-4500 {
    -webkit-animation-delay: 4.5s;
    animation-delay        : 4.5s;
}

.delay-4750 {
    -webkit-animation-delay: 4750ms;
    animation-delay        : 4750ms;
}

.duration-4000 {
    -webkit-animation-duration: 4s;
    animation-duration        : 4s;
}

.duration-4250 {
    -webkit-animation-duration: 4250ms;
    animation-duration        : 4250ms;
}

.duration-4500 {
    -webkit-animation-duration: 4.5s;
    animation-duration        : 4.5s;
}

.duration-4750 {
    -webkit-animation-duration: 4750ms;
    animation-duration        : 4750ms;
}

.delay-5000 {
    -webkit-animation-delay: 5s;
    animation-delay        : 5s;
}

.delay-5250 {
    -webkit-animation-delay: 5250ms;
    animation-delay        : 5250ms;
}

.delay-5500 {
    -webkit-animation-delay: 5.5s;
    animation-delay        : 5.5s;
}

.delay-5750 {
    -webkit-animation-delay: 5750ms;
    animation-delay        : 5750ms;
}

.duration-5000 {
    -webkit-animation-duration: 5s;
    animation-duration        : 5s;
}

.duration-5250 {
    -webkit-animation-duration: 5250ms;
    animation-duration        : 5250ms;
}

.duration-5500 {
    -webkit-animation-duration: 5.5s;
    animation-duration        : 5.5s;
}

.duration-5750 {
    -webkit-animation-duration: 5750ms;
    animation-duration        : 5750ms;
}

.duration-6000 {
    -webkit-animation-duration: 6s;
    animation-duration        : 6s;
}

.duration-6250 {
    -webkit-animation-duration: 6250ms;
    animation-duration        : 6250ms;
}

.duration-6500 {
    -webkit-animation-duration: 6.5s;
    animation-duration        : 6.5s;
}

.duration-6750 {
    -webkit-animation-duration: 6750ms;
    animation-duration        : 6750ms;
}

.duration-7000 {
    -webkit-animation-duration: 7s;
    animation-duration        : 7s;
}

.duration-7250 {
    -webkit-animation-duration: 7250ms;
    animation-duration        : 7250ms;
}

.duration-7500 {
    -webkit-animation-duration: 7.5s;
    animation-duration        : 7.5s;
}

.duration-7750 {
    -webkit-animation-duration: 7750ms;
    animation-duration        : 7750ms;
}

.duration-8000 {
    -webkit-animation-duration: 8s;
    animation-duration        : 8s;
}

.duration-8250 {
    -webkit-animation-duration: 8250ms;
    animation-duration        : 8250ms;
}

.duration-8500 {
    -webkit-animation-duration: 8.5s;
    animation-duration        : 8.5s;
}

.duration-8750 {
    -webkit-animation-duration: 8750ms;
    animation-duration        : 8750ms;
}

.duration-9000 {
    -webkit-animation-duration: 9s;
    animation-duration        : 9s;
}

.duration-9250 {
    -webkit-animation-duration: 9250ms;
    animation-duration        : 9250ms;
}

.duration-9500 {
    -webkit-animation-duration: 9.5s;
    animation-duration        : 9.5s;
}

.duration-9750 {
    -webkit-animation-duration: 9750ms;
    animation-duration        : 9750ms;
}

.duration-10000 {
    -webkit-animation-duration: 10s;
    animation-duration        : 10s;
}

.duration-10250 {
    -webkit-animation-duration: 10250ms;
    animation-duration        : 10250ms;
}

.duration-10500 {
    -webkit-animation-duration: 10.5s;
    animation-duration        : 10.5s;
}

.duration-10750 {
    -webkit-animation-duration: 10750ms;
    animation-duration        : 10750ms;
}
