---
title: "Sketch: Cube Room"
date: 2021-04-21
redirect_from: /posts/sketch-cube-room/
image: /assets/sketches/cube-room-preview.png
thumb: /assets/sketches/cube-room-preview-thumb.jpg
---

<style>
  #c {
    width: 100%;
    height: 100%;
    display: block;
  }
</style>
<canvas id="c"></canvas>
<script defer src="/assets/3js/01-cube-room.prod.js"></script>
