{% extends "layouts/skeleton.njk" %}

{% block body %}

  {# Nav #}
  <nav class="mh3 mh4-ns pv3 flex f6 f4-ns justify-between sans-serif" aria-label="Main">
    <div class="tl">
      <link rel="prefetch" href="{{ "/" | url }}">
      <a href="{{ "/" | url }}" class="hover dim textcolor" id="header">Maxwell Forbes</a>
    </div>
    <div class="tr">
      {% for link in site.links %}
        {# If you're on that page, don't show as a link. #}
        {% if title == link.name %}
          <span class="ml2 ml3-ns pv1">
            {{ link.name }}
          </span>
        {% else %}
          <link rel="prefetch" href="{{ link.url | url }}">
          <a class="link hover-link-color ml2 ml3-ns pv1" href="{{ link.url | url }}">
            {{ link.name }}
          </a>
        {% endif %}
      {% endfor %}

      {# Color scheme (dark mode) #}
      {% include "color-scheme-indicator.njk" %}
    </div>
  </nav>

  {# Huge full-width (not even screen-height-limited) image between nav and post. #}
  {% if coverImage %}
    <img src="{{ coverImage }}" class="db" />
  {% endif %}

  {# Series header. #}
  {% if series %}
    {% include "series-top.njk" %}
  {% endif %}

  {# Main content #}
  <div class="mw7 center">
    <main class="tl relative ph3 ph4-ns">
      {% if not (hidetitle or delaytitle) %}
        {% include "title.njk" %}
      {% endif %}

      <div class="markdown-body mb7">
        {{ content | safe }}
      </div>
    </main>
  </div>

  {# Metadata #}
  {% if not hidedate %}
  {% include "metadata.njk" %}
  {% endif %}

  {# Series footer. #}
  {% if series %}
    {% include "series-bottom.njk" %}
  {% endif %}

  {# Overall Footer #}
  {% include "footer.njk" %}

  {# Dispaly scripts #}
  <script type="text/javascript" src="/assets/js/wave.js" defer></script>
  <script type="text/javascript" src="/assets/js/lazyBlurBGs.js" defer></script>
  <script type="text/javascript" src="/assets/js/sidenotes.js" defer></script>
  <script type="text/javascript" src="/assets/js/image-transition.js" defer></script>

{% endblock %}
