{% extends "layouts/skeleton.njk" %}

{% block body %}

  {# Nav #}
  <nav class="mh3 mh4-ns pv3 flex f6 f4-ns justify-between" aria-label="Main">
    <div class="tl">
      <a href="{{ "/" | url }}" class="hover dim textcolor" id="header">Maxwell Forbes</a>
    </div>
    <div class="tr">
      {% for link in site.links %}
        {# If you're on that page, don't show as a link. #}
        {% if title == link.name %}
          <span class="ml2 ml3-ns pv1">
            {{ link.name }}
          </span>
        {% else %}
          <a class="link hover-link-color ml2 ml3-ns pv1" href="{{ link.url | url }}">
            {{ link.name }}
          </a>
        {% endif %}
      {% endfor %}

      {# Color scheme (dark mode) #}
      {% include "color-scheme-indicator.njk" %}
    </div>
  </nav>

  {# Series header. #}
  {% if series %}
    {% include "series-top.njk" %}
  {% endif %}

  {# Main content #}
  <div class="mw7 center">
    <main class="tl relative ph3 ph4-ns pt4 pt5-l">
      {% if not hidetitle %}
        <div class="mb4">
          {# Date #}
          {% if page.date and not hidedate %}
            <div class="f6 f5-ns lightest-text-color mt0 mb2">
              {% if not "garage" in tags %}
                {{ travel_end | default(page.date) | readableDate }}
              {% else %}
                <a href="{{ "/studio/#garage" | url }}" class="lightest-text-color hover-blue">GARAGE/</a>
              {% endif %}
            </div>
          {% endif %}

          {# Series #}
          {% if series %}
            <h1 class="f3 ttu tracked lh-solid mv2">
              {{ series }}
            </h1>
          {% endif %}

          {# Title #}
          <h1 class="f1 f-5-l fw9 lh-solid mt0 mb5">
              {{ title }}
          </h1>
          {% if subtitle %}
            <p class="lighter-text-color subtitle f4 f3-ns">
              {{ subtitle }}
            </p>
          {% endif %}

        </div>
      {% endif %}

      <div class="markdown-body mb7">
        {{ content | safe }}
      </div>
    </main>
  </div>

  {# Metadata #}
  {% if not hidedate %}
  {% include "metadata.njk" %}
  {% endif %}

  {# Series footer. #}
  {% if series %}
    {% include "series-bottom.njk" %}
  {% endif %}

  {# Overall Footer #}
  {% include "footer.njk" %}

  {# Dispaly scripts #}
  <script type="text/javascript" src="/assets/js/wave.js" defer></script>
  <script type="text/javascript" src="/assets/js/lazyBlurBGs.js" defer></script>

{% endblock %}
