{% extends "layouts/skeleton.njk" %}

{% block body %}

  {# These are still deferred, but they're listed first so any scripts in the page
     have access to them. #}
  <script type="text/javascript" src="/assets/lib/popper-2.9.3.min.js" defer></script>
  <script type="text/javascript" src="/assets/lib/tippy-6.3.1.umd.min.js" defer></script>

  {# Nav #}
  <nav class="mh3 mh4-ns pv3 flex f6 f4-ns justify-between sans-serif" aria-label="Main">
    <div class="tl">
      <link rel="prefetch" href="/">
      <a href="/" class="hover dim textcolor" id="header">Maxwell Forbes</a>
    </div>
    <div class="tr">
      {% for link in site.links %}
        {# If you're on that page, don't show as a link. #}
        {% if title == link.name %}
          <span class="ml2 ml3-ns pv1">
            {{ link.name }}
          </span>
        {% else %}
          <link rel="prefetch" href="{{ link.url }}">
          <a class="link hover-link-color ml2 ml3-ns pv1" href="{{ link.url }}">
            {{ link.name }}
          </a>
        {% endif %}
      {% endfor %}

      {# Color scheme (dark mode) #}
      {% include "color-scheme-indicator.njk" %}
    </div>
  </nav>

  {# Huge full-width (not even screen-height-limited) image between nav and post. #}
  {% if coverImage %}
    {# NOTE: To add nice color borders, could incorporate the following div. #}
    {# <div class="w-100 pa4 pa5-ns" style="background-color: #F1E7DD"> #}
      {% coverImg coverImage, "db w-100 h-auto bg-navy" %}
    {# </div> #}
  {% endif %}

  {# Series header. #}
  {% if series and not delayseries %}
    {% include "series-top.njk" %}
  {% endif %}

  {# Main content. (assuming "relative" needed for any absolute children, but haven't tested removing) #}
  <main class="relative">
    {% if not (hidetitle or delaytitle) %}
      {% include "title.njk" %}
    {% endif %}

    <div class="markdown-body mb7">
      {{ content | safe }}
    </div>
  </main>

  {# Metadata #}
  {% if not hidedate %}
  {% include "metadata.njk" %}
  {% endif %}

  {# Series footer. #}
  {% if series %}
    {% include "series-bottom.njk" %}
  {% endif %}

  {# Overall Footer #}
  {% include "footer.njk" %}

  {# Dispaly scripts #}
  {#
     async on module? Via MDN (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script):

     "The defer attribute has no effect on module scripts — they defer by default."

     ... but also ...

     "For module scripts, if the async attribute is present then the scripts and all
     their dependencies will be executed in the defer queue, therefore they will get
     fetched in parallel to parsing and evaluated as soon as they are available."

     So, without async, are they not in the defer queue? IDK.
   #}
  <script type="text/javascript" src="/assets/js/render-thumbhashes.js" fetchpriority="high"></script>
  <script type="text/javascript" src="/assets/js/wave.js" defer></script>
  <script type="text/javascript" src="/assets/js/lazyBlurBGs.js" defer></script>
  <script type="text/javascript" src="/assets/js/sidenotes.js" defer></script>
  <script type="text/javascript" src="/assets/js/image-transition.js" defer></script>

{% endblock %}
