<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% set displayTitle = (series + ": " if series else "") + title + ( ": " + subtitle if subtitle else "") + " - " + site.title %}
        <title>{{ displayTitle }}</title>
        {# NOTE: Twitter uses name='', og uses property='' #}
        <meta content="{{ displayTitle }}" property="title" />
        <meta content="{{ displayTitle }}" property="og:title" />
        <meta name="twitter:title" content="{{ displayTitle }}" />

        {% include "head.njk" %}
    </head>

    <body class="lh-copy pa0 f5 f4-ns serif">
        {# Not deferring to hopefully avoid screen flash. Worth the latency, right? #}
        <script type="text/javascript" src="/assets/js/dark-mode.js"></script>
        <script type="text/javascript" src="/assets/js/layout-load.js"></script>
        <!-- Hidden SVG for applying blur filters -->
        <svg class='hideSvgSoThatItSupportsFirefox dn'>
            <filter id='sharpBlur'>
                <feGaussianBlur stdDeviation='15'></feGaussianBlur>
                <feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 9 0'></feColorMatrix>
                <feComposite in2='SourceGraphic' operator='in'></feComposite>
            </filter>
        </svg>

        {% block body %}{% endblock %}
    </body>

</html>
