<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }} - {{ site.title }}</title>
        <!-- NOTE: Twitter uses name='', og uses property='' -->
        <meta content="{{ title }} - {{ site.title }}" property="title"/>
        <meta content="{{ title }} - {{ site.title }}" property="og:title"/>
        <meta name="twitter:title" content="{{ title }} - {{ site.title }}"/>

        {% include "head.njk" %}
    </head>

    <body class="lh-copy near-black pa0 f5 f4-ns sans-serif">
        {% block body %}{% endblock %}
    </body>

</html>
