{% extends "layouts/skeleton.njk" %}

{% block body %}

    <!-- Back banner -->
    {% set backName = "garage" if ("garage" in tags) 
        else 
            "sketches" %}
    {% set backURL = "/studio#" + backName %}
    <div class="bg-white fixed z-2 o-70">
        <p class="f6 ph3">
            <a href="{{ backURL }}" class="dim">
                &#8592; {{ backName }}
            </a>
        </p>
    </div>

    <div class="vh-100 dt w-100">
        <div class="dtc v-mid tc" id="container">
            {{ content | safe }}
        </div>
    </div>

{% endblock %}
